<% if is_logged_in? %>
    <h2>Welcome <%= current_user()['first_name'].capitalize %></h2>
        <form action="/sessions" method="POST">
            <input  type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Logout">
        </form>
<% else %>
    <button><a href="/login">Login</a> or <a href="/sign_up">Sign up</a></button>
<% end %>


<% all_cheerups.each do |cheerup| %>
        <section class="single_cheerup">
        <%= cheerup["message"] %>
                <form action="/likes" method="POST">
                    <input type="hidden" name="posts_id" value="<%= cheerup['id'] %>">
                    <button>Like</button>
                </form>

                <a href="/cheerup/<%= cheerup["id"] %>">Show</a>
                <% if is_logged_in? %>
                    <% if current_user["id"] == cheerup["user_id"]%>
                        <a href="/cheerup/<%= cheerup["id"] %>/edit">Edit</a>
                    <% end %>
                <% end %>
                <% likes.each do |like| %>
                    <% if like["message"] = cheerup["message"] %>
                        <%= like["count"] %>
                    <% end %>
                <% end %>

            </section>
    <% end %>
         
    </section>
</div>

<% if is_logged_in? %>
    <a href="cheerup/create">Post a Cheerup!</a>
<% end %>

